:root {
    --clr-bg-1: #24262b;
    --clr-bg-2: #333c4d;
    --clr-bg-3: #333c5d;
    --clr-fg-1: #cccccc;
    --clr-fg-2: #bbbbbb;
    --clr-brd-1: #3e4452;
    --clr-brd-2: #4a5365;
    --clr-brd-3: #55575f;
    --clr-primary-1: #89acea;
    --time-1: 0.3s;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: var(--clr-fg-1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.devtools {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    background-color: var(--clr-bg-1);
    box-sizing: border-box;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-bg-2);
    box-shadow: inset 0 -2px 0 var(--clr-brd-2);
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.nav .sec2 { 
    margin-left: auto; /* align right */
}

.nav .sect {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav div .item {
    background-color: transparent;
    border: none;
    color: var(--clr-fg-1);
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color var(--time-1), color var(--time-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.nav .item:hover {
    background-color: var(--clr-bg-3);
}

.nav .item.selected {
    color: var(--clr-primary-1);
    box-shadow: inset 0 -3px 0 var(--clr-primary-1);
    font-size: 13px;
}

.nav .sep {
    width: 1px;
    height: 24px;
    background-color: var(--clr-brd-3);
}

.panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.content.top {
    height: 65%;
}

.content.bottom {
    height: 35%;
}
